@use '../abstracts/variables' as vars;

// -------------- Appartement file scss -------------

.appartement{

    &__header{
    margin: 0 auto;

        .header{
        @media (min-width:902px) {
        padding-bottom: 0 !important;
        }
        }
    }

    &__wrapper{
    @media (min-width:902px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1 1 0;
    width: 100%;
    margin-top: 2rem;
    }
    }

    &__info{
    @media (min-width:902px) {
    flex-shrink: 0;
    }
    }


    &__details{
    padding: 1.25rem;

        @media (min-width:902px) {
        padding: 2.8125rem 6.25rem 3.125rem 6.25rem;
        font-size: vars.$font-size-xl ;   
        }
    }

    &__title{
        font-family: vars.$font-primary;
        font-size: vars.$font-size-lg;
        color: vars.$color_red;
        font-weight: vars.$font-weight-medium;
        line-height: 1.42;
            @media (min-width:902px) {
            font-size: vars.$font-size-xl ;   
            max-width: 500px;  
            }
            @media (min-width:1190px) {
            font-size: vars.$font-size-xxl ; 
            max-width: 700px;  
            }
    }

    &__location{
        font-family: vars.$font-primary;
        font-size: vars.$font-size-sm;
        color: vars.$color__black;
        font-weight: vars.$font-weight-medium;
        line-height: 1.42;
        padding: 0;
        margin: 0;
        padding-top: 5px;
            @media (min-width:902px) {
            font-size: vars.$font-size-lg ;   
            padding-top: 0px;
            }

    }

    &__tags{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        list-style: none;
        flex-wrap: wrap;
        row-gap: 5px;
        margin-top: 10px;
            @media (min-width:902px) {
            margin-top: 20px;  
            }

        .tag{
        font-family: vars.$font-primary;
        font-size: vars.$font-size-xxs;
        color: vars.$color__white;
        font-weight: vars.$font-weight-bold;
        line-height: 1.42;
        background-color: vars.$color_red;
        padding: 2px 26px;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
            @media (min-width:902px) {
            font-size: vars.$font-size-sm;  
            border-radius: 0.625rem;
            padding: 3px 26px;
            }
        }
    }

    &__host-rating{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.875rem;
            @media (min-width:902px) {
            display: flex;
            flex-direction:column-reverse;
            align-items: flex-end;
            justify-content: flex-end;
            margin-top: 0;
            }
    }

    &__rating{
        display: flex;
        max-width: 120px;
        flex-direction: row;
            @media (min-width:902px) {
            margin-top: 1rem;
            max-width: inherit;
            }
            @media (min-width:1192px) {
            margin-top: 2rem;
            max-width: inherit;
            }

        &__star{
        display: flex;
        flex-direction: row;

        .star-icon{
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.4375rem;
        }
        }
    }

    &__host{
    display: flex;
    align-items: center;
        @media (min-width:902px) {
        justify-content: flex-end;
        }


        &__name{
        font-family: vars.$font-primary;
        font-size: vars.$font-size-xs;
        color: vars.$color_red;
        font-weight: vars.$font-weight-medium;
        line-height: 1.42;
        max-width: 3.75rem;
        text-align: right;
        margin-right: 1.3rem;
            @media (min-width:902px) {
            font-size: vars.$font-size-lg;
            max-width: 6.3rem;
            margin : 0 1.3rem 0 0 !important;
            }
        }

        &__picture{
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
            @media (min-width:902px) {
            width: 4rem;
            height: 4rem;
        }
        }
    }

    &__collapse{
        @media (min-width:902px) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 1.5rem;
        gap: 75px;
        }
    }

    &__description{
        width:100%;
        margin-bottom: 1.25rem;

        &__paragraph{
            margin: 0;
        }
    }

    &__equipements{
        width:100%;
        margin-bottom: 1.25rem;


        &__item{
        font-family: vars.$font-primary;
        font-size: vars.$font-size-xs;
        color: vars.$color__black;
        font-weight: vars.$font-weight-regular;
            @media (min-width: 902px) {
            font-size: vars.$font-size-lg;
            }
        }
    }
    
}


