@use '../abstracts/variables' as vars;

// -------------- Error file scss -------------

.error__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:7rem;
    padding: 7rem 0;
}

.error__title{
    font-family: vars.$font-primary;
    color: vars.$color_red;
    font-weight: vars.$font-weight-bold;
    font-size: vars.$font-size-404;
    text-align: center;
    margin:0;
    @media (min-width:902px) {
        font-size: vars.$font-size-404xl;
    }
}

.error__text{
    font-family: vars.$font-primary;
    color: vars.$color_red;
    font-weight: vars.$font-weight-medium;
    font-size: vars.$font-size-lg;
    text-align: center;
    @media (min-width:902px) {
        font-size: vars.$font-size-xxl;
    }


}

.error__link{
    font-family: vars.$font-primary;
    color: vars.$color__black;
    font-weight: vars.$font-weight-medium;
    font-size: vars.$font-size-sm;
    text-align: center;
    text-decoration: underline;
    @media (min-width:902px) {
        font-size: vars.$font-size-lg;
    }

}